h1{
    color: aliceblue;
    margin: 0%;
    position: absolute;
    margin-top: 6cm;
    margin-left: 3cm;
    font-family: kurale;
    text-align: center;
}
.heading{
    background-image:url(images/born.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    background-size: cover;
    font-size: 450%;
}
#noah{
    color: orange;
}
body{
    margin: 0;
}
#description{
    border: solid 1px;
    margin: 0;
    height: 1cm;
    text-align: center;
    font-size: 150%;
    color: aliceblue;
    background-color: grey;
}

nav ul {
    background-color: rgb(0, 0, 0, 0.2);
    padding: 30px;
    display: flex;
    justify-content: center;
    word-spacing: 20px;
    position: sticky;
    z-index: 999;
    top: 0;
    list-style: none;
    gap: 3cm;
    font-size: 150%;
}

a {
    text-decoration: none;
    word-spacing: 20px;
    font-size: 15px;
    color: black;
}

a:hover {
    transform: scale(2s);
    color: white;
    font-weight: bold;
}
#book{
height: 12cm;
width: 95%;
border-radius: 25px;
margin-top: 2cm;
margin-left: 5cm;
}

.synopsis{
    display: flex;
    gap: 6cm;
}

.book-summary p{
    margin-top: 3cm;
    font-family:kurale;
    font-size: 120%;
}
.book-summary{
    margin-top: 2cm;
}
@font-face {
    font-family:kurale ;
    src: url(fonts/Kurale-Regular.ttf);
}
h2{
    color: orange;
    font-size: 180%;
    margin-top: 1cm;
    position: absolute;
    font-family: kurale;
}

h3{
    color: orange;
    font-size: 150%;
    margin-top: 1cm;

}
.title-rename{
margin-left: 4.5cm;
margin-top: 3cm;
font-family: kurale;
font-size: 120%;
}

.life-in-color{
    display: flex;
    gap: 3cm;
}
#book-title{
    width: 30%;
    margin-top: 3.5cm;
}

#blog-img{
    width: 20%;
    margin-left: 18cm;
    margin-top: 2cm;
    
}


.my-blog p{
    font-family: kurale;
    font-size: 130%;
    text-align: center;
}
#louding{
width: 15%;
border-radius: 25px;
margin-left: 9.5cm;

}
#mitchelle{
width: 15%;
border-radius: 25px;
}

#friends{
width: 14.2%;
border-radius: 25px;
}
.novels{
word-spacing: 3cm;
}
h4{
    color: orange;
    font-size: 200%;
    font-family: kurale;
    text-align: center;
}

.icons{
   
    display: flex;
    gap: 5cm;
    margin-left: 3cm;

}
.footerlog{
    border: solid 1px;
    background-color: rgb(220, 245, 231);
}

#copyright{
    text-align: center;
}

#contact{
    font-size: 120%;
    text-align: center;
}

@media only screen and (max-width:750px) {
    h1{
        color: aliceblue;
        margin: 0%;
        position: absolute;
        margin-top: 2cm;
        margin-left: 1.5cm;
        font-family: kurale;
        text-align: center;
    }

    .heading{
        background-image:url(images/born.jpg);
        background-repeat: no-repeat;
        width: 93%;
        height: 50vh;
        background-size: cover;
        font-size: 300%;
    }

    nav ul{
        list-style: none;
        display: flex;
        gap: 0.35cm;
        font-size: 90%;
        padding-left: 0cm;
        margin: 0%;
        position: sticky;
        
    }

    #book{
        height: 50vh;
        width: 95vw;
        border-radius: 25px;
        margin-top: 0cm;
        margin-left: 0cm;
        }
        
        .synopsis{
            flex-direction: column;
            gap: 0cm;
        }
    
        h3{
            color: orange;
            font-size: 120%;
            margin-top: 1cm;
        
        }
      
        
        .life-in-color{
            display: flex;
            gap: 0cm;
        }

        .title-rename{
            margin-left: 0.5cm;
            margin-top: 0cm;
            font-family: kurale;
            font-size: 120%;
            }

            #book-title{
                width: 50%;
                margin-top: 3.5cm;
            }
        
            #blog-img{
                width: 50%;
                margin-left: 2cm;
                margin-top: 1cm;
                
            }

            #louding{
                width: 25%;
                border-radius: 25px;
                margin-top: -4cm;
                position: absolute;
            
                
                }
                #mitchelle{
                width: 25%;
                border-radius: 25px;
                }
                
                #friends{
                width: 24.2%;
                border-radius: 25px;
                }
            

                .novels{
                    word-spacing: 1cm;
                    }

                .icons{

            
                    gap: 1cm;
                    margin-left: 0cm;
                
                }


    
}
